<template name="account">
    <main>
        <div class="container">
            <h4 class="center">Edit Profile</h4>

            <form id="acctmgmt-form">
                {{#with profile}}
                    <div class="row">
                        <div class="col s2">
                            <img src="/images/profile.jpg" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div id="name" class="col s10 right">
                            <div class="row">
                                <div id="firstname" class="input-field col s12">
                                    <input id="firstname-input" type="text" value="{{firstName}}">
                                    <label class="active" for="firstname-input">First
                                        Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div id="lastname" class="input-field col s12">
                                    <input id="lastname-input" type="text" value="{{lastName}}">
                                    <label class="active" for="lastname-input">Last
                                        Name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="bio" class="input-field col s12">
                                <textarea id="bio-input" class="materialize-textarea" length="255"
                                          maxlength="255">{{biography}}</textarea>
                            <label class="active" for="bio-input">Biography<i
                                    class="mdi-editor-mode-edit right"></i></label>
                        </div>
                    </div>
                    <div class="row">
                        <div id="skills" class="input-field col s12">
                                <textarea id="skills-input" class="materialize-textarea" length="255"
                                          maxlength="255">{{skills}}</textarea>
                            <label class="active" for="skills-input">Skills<i
                                    class="mdi-editor-mode-edit right"></i></label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">Save<i
                            class="mdi-content-send right"></i>
                    </button>
                    <button id="passchange" class="btn waves-effect waves-light modal-trigger" type="button"
                            name="passchange">
                        Change Password<i class="mdi-action-lock right"></i>
                    </button>
                {{/with}}
            </form>
            <div id="passchange-modal" class="modal">
                <div class="modal-content">
                    <h4>Change Your Password</h4>

                    <form id="passchange-form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="curpassword" type="password">
                                <label for="curpassword">Current Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="newpassword" type="password">
                                <label for="newpassword">New Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="new2password" type="password">
                                <label for="new2password">Confirm New Password</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Save<i
                                class="mdi-content-send right"></i>
                        </button>
                        <button id="passchange-cancel" class="btn waves-effect waves-light" type="button">Cancel<i
                                class="mdi-navigation-cancel right"></i>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </main>
</template>