<template name="accountView">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                <a href="{{pathFor 'Accounts'}}">Users</a> >
                My Profile
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row"></div>
        <div class="row valign-wrapper">
            <div class="col s2">
                <img {{profilePicAttr}}/>
                <!-- notice the "circle" class -->
            </div>
            <div id="name" class="col s10">
                <h3>{{profile.firstName}} {{profile.lastName}}</h3>
            </div>
        </div>
        {{#if profile.biography}}
            <div class="row">
                <div class="col s12">
                    <h5>Biography</h5>

                    <p>{{profile.biography}}</p>
                </div>
            </div>
        {{/if}}
        {{#if profile.skills}}
            <div class="row">
                <div class="col s12">
                    <h5>Skills</h5>

                    <p>{{profile.skills}}</p>
                </div>
            </div>
        {{/if}}
        <h4>Contact Information</h4>

        <div class="row">
            <div class="col s12 m6">
                <table>
                    <thead>
                    <tr>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each emails}}
                        {{#if verified}}
                            <tr>
                                <td>{{address}}</td>
                            </tr>
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
            {{#if profile.phones}}
                <div class="col s12 m6">
                    <table>
                        <thead>
                        <tr>
                            <th>Phone</th>
                            <th>Type</th>
                            <th>Primary</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each profile.phones}}
                            <tr>
                                <td>{{number}}</td>
                                <td>{{type}}</td>
                                {{#if primary}}
                                    <td>
                                        <input type="checkbox" id="phone-primary-{{@index}}" checked disabled/>
                                        <label for="phone-primary-{{@index}}"></label>
                                    </td>
                                {{/if}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </div>
        {{#if editAllowed}}
            <a href="{{pathFor 'AccountEdit'}}" class="btn waves-effect waves-light">Edit<i
                    class="mdi-editor-mode-edit right"></i>
            </a>
            {{#if notCurrentUser}}
                <a href="{{pathFor 'MessageCreateForUser'}}" class="btn waves-effect waves-light">Message<i
                        class="mdi-communication-email right"></i>
                </a>
            {{/if}}
            {{#if changePassword}}
                <button id="passchange" class="btn waves-effect waves-light modal-trigger" type="button"
                        name="passchange">
                    Change Password<i class="mdi-action-lock right"></i>
                </button>
                <div id="passchange-modal" class="modal">
                    <form id="passchange-form">
                        <div class="modal-content">
                            <h4>Change Password</h4>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="curpassword" type="password" required>
                                    <label for="curpassword">Current Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="newpassword" type="password" required>
                                    <label for="newpassword">New Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="new2password" type="password" required>
                                    <label for="new2password">Confirm New Password</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="waves-effect waves-green btn-flat" type="submit">Save<i
                                    class="mdi-content-send right"></i>
                            </button>
                            <button class="modal-action modal-close waves-effect waves-light btn-flat" type="button">
                                Cancel<i
                                    class="mdi-navigation-cancel right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            {{/if}}
            {{> forgotPassword}}
        {{/if}}
    </div>
</template>