<template name="taskEditModal">
        <div id="edit-task-modal" class="modal modal-fixed-footer">
            <form id="edit-task-form">
                <input id="edit-task-id" type="hidden" class="validate" value="{{taskToEdit._id}}" required>
                <div class="modal-content">
                    <h2 class="center">Edit Task</h2>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="edit-task-name" type="text" class="validate" value="{{taskToEdit.name}}" required>
                            <label class="active" for="edit-task-name">Task Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" class="validate" id="edit-task-datetime" value="{{formatDateMDYT taskToEdit.dateTime}}"
                                   required>
                            <label class="active" for="edit-task-datetime">Due Date/Time</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="edit-task-description"
                                      class="materialize-textarea">{{taskToEdit.description}}</textarea>
                            <label class="active" for="edit-task-description">Description<i class="mdi-editor-mode-edit right"></i></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <label for="edit-task-type">Task Type</label>
                            <select class="browser-default" id="edit-task-type" required>
                                <option value="" disabled selected>Please choose a task type</option>
                                {{#each taskType}}
                                    <option value="{{this}}" {{isOptionSelected this taskToEdit.taskType}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        {{#if isVendorTaskEdit}}
                            <div class="col s5">
                                <label for="edit-vendor-name">Vendor Name</label>
                                <select class="browser-default" id="edit-vendor-name">
                                    <option value="" disabled selected>Please choose a vendor</option>
                                    {{#each vendors}}
                                        <option value="{{this._id}}" {{isOptionSelected this._id taskToEdit.vendor}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="input-field col s2">
                                <a id="add-vendor-button"
                                   class="btn-floating tooltipped"
                                   data-position="bottom"
                                   data-delay="50"
                                   data-tooltip="Add Vendor">
                                    <i class="mdi-content-add"></i>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <input id="edit-task-budget" type="text" class="validate" value="{{taskToEdit.budget}}" required>
                            <label class="active" for="edit-task-budget">Task Budget ($)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label for="edit-task-assigned-to">Assign to</label>
                            <select class="browser-default" id="edit-task-assigned-to" required>
                                <option value="" disabled selected>Choose an assignee</option>
                                {{#each users}}
                                    <option value="{{this._id}}" {{isOptionSelected this._id taskToEdit.userIdAssignedTo}}>{{this.profile.firstName}} {{this.profile.lastName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col s6">
                            <label for="edit-task-status">Task Status</label>
                            <select class="validate browser-default" id="edit-task-status" required>
                                <option value="" disabled selected>Choose an option</option>
                                {{#each taskStatus}}
                                    <option value="{{this}}" {{isOptionSelected this taskToEdit.status}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row col s12">
                        <div class="col s6 center">
                            <button id="submit-edit-task-button" class="waves-effect waves-light btn" type="submit">
                                <i class="mdi-content-send right"></i>Save
                            </button>
                        </div>
                        <div class="col s6 center">
                            <a id="cancel-edit-task-button" class="waves-effect waves-light btn" type="button">
                                <i class="mdi-navigation-cancel right"></i>Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</template>