<template name="taskView">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a href="{{pathFor 'Events'}}" class="breadcrumb">Events</a>
                <a href="{{pathFor 'EventView' _id=this.event}}" class="breadcrumb">{{event.name}}</a>
                <a class="breadcrumb">{{this.name}}</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>{{this.name}}</h2>

        <form id="view-task-form">

            <div class="row">
                <div class="col s6">
                    <p>Due Date/Time</p>
                    <span>{{formatDate this.dateTime}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Description</p>
                    <span>{{this.description}}</span>
                </div>
            </div>
            {{#if hasNotes}}
                <div class="row">
                    <div class="col s6">
                        <p>Notes</p>
                        <span>{{this.notes}}</span>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col s4">
                    <p>Task type</p>
                    <span>{{this.taskType}}</span>
                </div>
                {{#if isVendorTask}}
                    <div class="col s4">
                        <p>Vendor</p>
                        <span>{{vendor.name}}</span>
                    </div>
                {{/if}}
            </div>
            <div class="row">
                <div class="col s4">
                    <p>Budget</p>
                    <span>{{this.budget}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>Assigned to</p>
                    <span>{{userIdAssignedTo.profile.firstName}} {{userIdAssignedTo.profile.lastName}}</span>
                </div>
                <div class="col s4">
                    <p>Status</p>
                    <span>{{this.status}}</span>
                </div>
            </div>

        </form>
    </div>

</template>