<template name="userManagement">

    <nav id="breadcrumb-nav" class="blue darken-1">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                User Management
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>User Management</h2>
        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Created On</th>
                <th>Primary Email</th>
                <th>Profile Complete</th>
                <th>Invite Code Applied</th>
                <th>Permissions</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                {{>user}}
            {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="user">
    <div class="modal">
        <div class="modal-content">
            <h5>Permissions For {{profile.firstName}} {{profile.lastNAme}}</h5>

            <div class="row">
                <div class="col s12">
                    <label for="roleSelect-{{_id}}"> Role </label>
                    <select id="roleSelect-{{_id}}" class="browser-default">
                        <option value="Admin" selected="{{isRole "Admin"}}">Admin</option>
                        <option value="user" selected="{{isRole "user"}}">User</option>
                        <option value="incomplete" selected="{{isRole "incomplete"}}">Incomplete</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        <input type="checkbox" id="hasCreateEvent-{{_id}}" checked="{{hasPermission "createEvent"}}"/>
                        <label for="hasCreateEvent-{{_id}}">Create Events</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        <input type="checkbox" id="hasEditEvent-{{_id}}" checked="{{hasPermission "editEvent"}}">
                        <label for="hasEditEvent-{{_id}}">Edit Events</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        <input type="checkbox" id="hasPublishEvent-{{_id}}" checked="{{hasPermission "publishEvent"}}">
                        <label for="hasPublishEvent-{{_id}}">Publish Events</label>
                    </p>
                </div>
            </div>
            <!--div class="row">
            <p>
                <div class="col s4"><label for="">Create Task</label></div>
                <div class="col s8"><input type="checkbox" id="hasCreateTask-{{_id}}" checked="{{hasPermission "createEvent"}}"></div>
                </p>
            </div-->
            <!--div class="row">
            <p>
                <div class="col s4"><label for="">Edit Task</label></div>
                <div class="col s8"><input type="checkbox" id="hasCreateEvent-{{_id}}" checked="{{hasPermission "createEvent"}}"></div>
                </p>
            </div-->
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" id="savePermissions">Save</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat"
               id="cancelPermissions">Cancel</a>
        </div>
    </div>
    <tr>
        <td><a href="{{pathFor 'AccountView' _id}}">{{profile.firstName}} {{profile.lastName}}</a></td>
        <td>{{createdAt}}</td>
        <td><a href="mailto:{{primaryEmail}}">{{primaryEmail}}</a></td>
        <td>
            <p>
                <input type="checkbox" id="profileCheck" disabled checked="{{profileComplete}}"/>
                <label for="profileCheck"></label>
            </p>
        </td>
        <td>
            <p>
                <input type="checkbox" id="inviteCheck" disabled checked="{{inviteApplied}}"/>
                <label for="inviteCheck"></label>
            </p>
        </td>
        <td>
            <button class="btn waves-effect waves-light" id="userPermissions">Edit/View</button>
        </td>
        <td>
            <button class="btn waves-effect waves-light" id="userOptions">Options</button>
        </td>
    </tr>

    <div class="modal">
        <div class="modal-content">
            <h4>User Options</h4>
            <h5>{{profile.firstName}} {{profile.lastName}}</h5>

            <div class="row">
                <div class="col s12">
                    {{#if profile.accountLocked}}
                        <button class="btn waves-effect waves-light" id="unlockUser">Unlock User</button>
                    {{else}}
                        <button class="btn waves-effect waves-light" id="lockUser">Disable User</button>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{#if profile.inviteCode}}
                        User is already invited and validated!
                    {{else}}
                        <button class="btn waves-effect waves-light" id="forceInvite">Generate and Apply Invite
                        </button>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>

</template>