<template name="documents">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                Documents
            </div>
        </div>
    </nav>
    <!--
        Below id is the folder id in Google Drive, which can be found in the URL for the folder.
        The id can be set to any folder in drive.
        Under Google Drive rules, the owner of the folder determines who to share the folder too.
        Therefore, the owner receives the share request emails.
    -->
    <iframe id="documentsGoogleDrive"
            src="https://drive.google.com/embeddedfolderview?id=0B38z5WKF0BnNZUlwQ0Y5TzBvTVE#list"
            frameborder="0"></iframe>
    <style>
        #documentsGoogleDrive {
            width: 100%;
            height: 100%;
        }

        main {
            display: block;
            height: 100%;
        }

        html, body {
            height: 100%;
        }
    </style>
</template>