<template name="taskCard">
    <div class="row">
        <div class="card-panel {{getStatus}} col s11 hoverable">
            <a {{viewTaskLink}} class="task-link hyperlink-no-style">
                <div class="col s6" style="margin-bottom: 1em;">
                    <h5>{{name}}</h5>
                    <span class="truncate tooltipped"
                          data-position="bottom"
                          style="padding:0;margin:0;"
                          data-delay="50"
                          data-tooltip="{{description}}">{{description}}</span>
                    {{#if hasNotes}}
                        <br>
                        <span class="truncate tooltipped"
                              data-position="bottom"
                              style="padding:0;margin:0;"
                              data-delay="50"
                              data-tooltip="{{notes}}"><b>Notes:</b> {{notes}}</span>
                    {{/if}}
                </div>
                <div class="col s4">
                    <ul class="left-align">
                        <li><b>Budget:</b> {{formatCurrency budget}}</li>
                        <li><b>Due:</b> {{formatDateShort dateTime}}</li>
                        <li><b>Status:</b> {{status}}</li>
                        <li><b>Assigned
                            to:</b> {{userIdAssignedTo.profile.firstName}} {{userIdAssignedTo.profile.lastName}}</li>
                        <li><b>Task Type:</b> {{taskType}}</li>
                        {{#if isVendorTask}}
                            <li><b>Vendor </b> {{vendor.name}}</li>
                        {{/if}}
                    </ul>
                </div>
            </a>
            {{#if isEditable}}
                <div class="col s1 right" style="padding-right:0;">
                    <a class="delete-task-button btn-flat tooltipped"
                       data-position="bottom"
                       style="padding:0;margin:0;"
                       data-delay="50"
                       data-tooltip="Delete Task">
                        <i class="mdi-content-clear"></i>
                    </a>
                    <br>
                    <a class="edit-task-button btn-flat tooltipped"
                       data-position="bottom"
                       style="padding:0;margin:0;"
                       data-delay="50"
                       data-tooltip="Edit Task">
                        <i class="mdi-editor-mode-edit"></i>
                    </a>
                    <br>
                    <a class="help-task-button btn-flat tooltipped"
                       data-position="bottom"
                       style="padding:0;margin:0;"
                       data-delay="50"
                       data-tooltip="Request Help From Event Owner">
                        <i class="mdi-alert-warning"></i>
                    </a>
                </div>
            {{/if}}
        </div>
    </div>
</template>