<template name="configuration">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Configuration</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">

        <h4>Email Notifications</h4>

        <ul class="collection">
            <li class="collection-item">
                <input type="checkbox" id="config-task-create-email" />
                <label for="config-task-create-email">Send an email to the task assignee when a task is created or assigned to them.</label>
            </li>
            <li class="collection-item">
                <input type="checkbox" id="config-task-help-email" />
                <label for="config-task-help-email">Send an email to the event owner when a task help request is meteorinitiated.</label>
            </li>
        </ul>

        <h4>Site Configuration</h4>

        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card-panel grey lighten-4">
                    <div class="row">
                        <div class="col s9">
                            <h5>Event Themes</h5>
                        </div>
                        <div class="col s3" style="padding-top: 10px;">
                            <a id="add-theme-button"
                               class="btn-floating tooltipped right-align"
                               data-position="bottom"
                               data-delay="50"
                               data-tooltip="Add Theme">
                                <i class="mdi-content-add"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <label for="theme">Theme</label>
                        <select class="browser-default" id="theme">
                            <option value="" disabled selected>Choose a theme</option>
                            {{#each themes}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row center">
                        <a id="delete-theme-button" class="center waves-effect waves-light btn">
                            <i class="mdi-navigation-cancel right"></i>Remove Theme
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel grey lighten-4">
                    <div class="row">
                        <div class="col s9">
                            <h5>Phone Type</h5>
                        </div>
                        <div class="col s3" style="padding-top: 10px;">
                            <a id="add-phonetype-button"
                               class="btn-floating tooltipped right-align"
                               data-position="bottom"
                               data-delay="50"
                               data-tooltip="Add Phone Type">
                                <i class="mdi-content-add"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <label for="theme">Phone Type</label>
                        <select class="browser-default" id="phonetype-select">
                            <option value="" disabled selected>Choose a phone type</option>
                            {{#each phoneTypes}}
                                <option value="{{this._id}}">{{this.type}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row center">
                        <a id="delete-phonetype-button" class="center waves-effect waves-light btn">
                            <i class="mdi-navigation-cancel right"></i>Remove Phone Type
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel grey lighten-4">
                    <div class="row">
                        <div class="col s9">
                            <h5>Vendors</h5>
                        </div>
                        <div class="col s3" style="padding-top: 10px;">
                            <a id="add-vendor-button"
                               class="btn-floating tooltipped right-align"
                               data-position="bottom"
                               data-delay="50"
                               data-tooltip="Add Vendor">
                                <i class="mdi-content-add"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <label for="vendor">Vendor</label>
                        <select class="browser-default" id="vendor">
                            <option value="" disabled selected>Choose a vendor</option>
                            {{#each vendors}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row center">
                        <a id="delete-vendor-button" class="center waves-effect waves-light btn">
                            <i class="mdi-navigation-cancel right"></i>Remove Vendor
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel grey lighten-4">
                    <div class="row">
                        <div class="col s9">
                            <h5>Venues</h5>
                        </div>
                        <div class="col s3" style="padding-top: 10px;">
                            <a id="add-venue-button"
                               class="btn-floating tooltipped right-align"
                               data-position="bottom"
                               data-delay="50"
                               data-tooltip="Add Venue">
                                <i class="mdi-content-add"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row center">
                        <label for="venue">Venue</label>
                        <select class="validate browser-default" id="venue">
                            <option value="" disabled selected>Choose a venue</option>
                            {{#each venues}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row center">
                        <a id="delete-venue-button" class="center waves-effect waves-light btn">
                            <i class="mdi-navigation-cancel right"></i>Remove Venue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> addThemeModal}}

    {{> addVendorModal}}

    {{> addVenueModal}}

    {{> addPhoneTypeModal}}

</template>

<template name="addPhoneTypeModal">
    <div id="add-phonetype-modal" class="modal">
        <form id="add-phonetype-form">
            <div class="modal-content">
                <h4>Add Phone Type</h4>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="phonetype-new" type="text" required/>
                        <label for="phonetype-new">Phone Type</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-flat waves-effect waves-light" type="submit">Save<i
                        class="mdi-content-send right"></i>
                </button>
                <button id="add-email-cancel" class="modal-action modal-close btn-flat waves-effect waves-light"
                        type="button">Cancel<i
                        class="mdi-navigation-cancel right"></i>
                </button>
            </div>
        </form>
    </div>
</template>