@media (max-width: 993px) {
    .offset-container {
        background-color: red;
    }
}

.offset-container {
    margin-left: 240px;
}

/* a little bit of padding, on the left side of right division */
main {
    margin-left: 10px;
}