<template name="accountLocked">
    <nav>
        <div align="center" class="nav-wrapper blue lighten-1">
            <a class="brand-logo center" style="padding-left:0" href="#!">CARP Connects</a>
            <ul class="right">
                <li>{{> logout}}</li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h3>Your account has been locked</h3>

        <p>Please contact an administrator to have your account re-enabled.</p>
        {{isUnlocked}}
    </div>
</template>