<template name="eventView">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a href="{{pathFor 'Events'}}" class="breadcrumb">Events</a>
                <a class="breadcrumb">{{this.name}}</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>{{this.name}}</h2>

        <form id="view-event-form">
            {{#if isActiveEvent}}
                <div class="row">
                    <div class="col s12 center">
                        <a href="{{pathFor 'EventEdit'}}" class="waves-effect waves-light btn" id="edit-event-button">
                            <i class="mdi-content-send right"></i>Work on event
                        </a>
                        <a href="{{pathFor 'EventPublish'}}" class="publish-event-button waves-effect waves-light btn">
                            <i class="mdi-editor-publish right"></i>Publish Event
                        </a>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col s6">
                    <p>Date/Time</p>
                    <span>{{formatDate this.dateTime}}</span>
                </div>
                <div class="col s6">
                    <p>Event Owner</p>
                    <a href="{{pathFor 'AccountView' _id=eventOwner._id}}"><span>{{eventOwner.profile.firstName}} {{eventOwner.profile.lastName}}</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Event Budget ($)</p>
                    <span id="event-budget">{{this.totalBudget}}</span>
                </div>
                <div class="col s6">
                    <p>Theme</p>
                    <span>{{theme.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Description</p>
                    <span>{{this.description}}</span>
                </div>
                <div class="col s6">
                    <p>Status</p>
                    <span>{{eventStatus}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>Venue</p>
                    <span>{{venue.name}}</span>
                </div>
            </div>
            <div class="row map">
                <!-- Venue Map -->
                <iframe {{mapAttributes}}></iframe>
            </div>
            <hr>
            <div class="row">
                <div class="col s2">
                    <span class="header">Tasks</span>
                </div>
                <div class="col s3 offset-s7">
                    <div id="budget-card" class="card-panel {{budgetStatusColor}} center">
                        <span>Budget Status</span>
                        <br>
                        <span>$</span>
                        <span id="budget-tasks-display">{{budgetTasks}}</span>
                        <span>/</span>
                        <span>$</span>
                        <span id="budget-total-display">{{budgetTotal}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                {{#each tasks}}
                    {{> taskCard}}
                {{/each}}
            </div>

            <div class="row">
                <div class="col s12 center">
                    {{#if isActiveEvent}}
                        <a href="{{pathFor 'EventEdit'}}" class="waves-effect waves-light btn" id="edit-event-button">
                            <i class="mdi-content-send right"></i>Work on event
                        </a>
                        <a href="{{pathFor 'EventPublish'}}" class="publish-event-button waves-effect waves-light btn">
                            <i class="mdi-editor-publish right"></i>Publish Event
                        </a>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>

    {{> addVenueModal}}

    {{> taskAddModal}}

    {{> taskEditModal}}

    {{> eventPublishModal}}

</template>