<template name="eventView">

    <nav id="breadcrumb-nav" class="blue darken-1">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                <a href="{{pathFor 'Events'}}">Events</a> >
                {{this.name}}
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>View Event Details</h2>

        <form id="view-event-form">
            <div class="row">
                <div class="col s12 center">
                    {{#if isActiveEvent}}
                        <a href="{{pathFor 'EventEdit'}}" class="waves-effect waves-light btn" id="edit-event-button">
                            <i class="mdi-content-send right"></i>Work on event
                        </a>
                        <a href="{{pathFor 'EventPublish'}}" class="publish-event-button waves-effect waves-light btn">
                            <i class="mdi-editor-publish right"></i>Publish Event
                        </a>
                    {{/if}}
                    <a href="{{pathFor 'Events'}}" class="waves-effect waves-light btn">
                        <i class="mdi-navigation-cancel right"></i>Back to all events
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Event Name</p>
                    <span>{{this.name}}</span>
                </div>
                <div class="col s4">
                    <p>Date/Time</p>
                    <span>{{formatDate this.dateTime}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <p>Event Budget ($)</p>
                    <span>{{this.totalBudget}}</span>
                </div>
                <div class="col s2 offset-s1">
                    <p>Event Owner</p>
                    <span>{{eventOwner.profile.firstName}} {{eventOwner.profile.lastName}}</span>
                </div>
                <div class="col s2 offset-s1">
                    <p>Theme</p>
                    <span>{{theme.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p>Description</p>
                    <span>{{this.description}}</span>
                </div>
                <div class="col s6">
                    <p>Status</p>
                    <span>{{eventStatus}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p>Venue</p>
                    <span>{{venue.name}}</span>
                </div>
            </div>
            <div class="row map">
                <!-- Venue Map -->
                <iframe {{mapAttributes}}></iframe>
            </div>
            <hr>
            <div class="row">
                <div class="col s2">
                    <span class="header">Tasks</span>
                </div>
            </div>

            <div class="row">
                {{#each tasks}}
                    {{> taskCard}}
                {{/each}}
            </div>

            <div class="row">
                <div class="col s12 center">
                    {{#if isActiveEvent}}
                        <a href="{{pathFor 'EventEdit'}}" class="waves-effect waves-light btn" id="edit-event-button">
                            <i class="mdi-content-send right"></i>Work on event
                        </a>
                        <a href="{{pathFor 'EventPublish'}}" class="publish-event-button waves-effect waves-light btn">
                            <i class="mdi-editor-publish right"></i>Publish Event
                        </a>
                    {{/if}}
                    <a href="{{pathFor 'Events'}}" class="waves-effect waves-light btn">
                        <i class="mdi-navigation-cancel right"></i>Back to all events
                    </a>
                </div>
            </div>
        </form>
    </div>

    {{> addVenueModal}}

    {{> taskAddModal}}

    {{> taskEditModal}}

    {{> eventPublishModal}}
</template>