<template name="filterStatus">
    <div class="row">
        <div class="col s6 right">
            <form id="filter-status-form">
                <div class="row">
                    <div class="col s12 valign">Event Filter:</div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <input name="filterStatus" type="radio" id="filterStatusAll" checked>
                        <label for="filterStatusAll">All</label>
                    </div>
                    <div class="col s4">
                        <input name="filterStatus" type="radio" id="filterStatusComplete">
                        <label for="filterStatusComplete">Complete</label>
                    </div>
                    <div class="col s5">
                        <input name="filterStatus" type="radio" id="filterStatusIncomplete">
                        <label for="filterStatusIncomplete">Incomplete</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>