<template name="profile">
    <div class="row right no-margin-bot hide-on-large-only">
        <div class="col s12" style="display:inline-block;">
            <a href="#" id="dropdown-button-mobile" class="dropdown-button" data-activates="profile-dropdown-mobile">
                <img {{profilePicAttr}} style="max-width: 48px" />
                <i class="mdi-navigation-arrow-drop-down right" style="margin-left:5px"></i>
            </a>
        </div>
        <ul id="profile-dropdown-mobile" class="dropdown-content">
            <li><a href="{{pathFor "Account"}}"><i class="mdi-action-account-box left"></i> Profile</a></li>
            <li>{{> logout}}</li>
        </ul>
    </div>
    <div class="row right no-margin-bot hide-on-med-and-down">
        <div class="col s3" style="display:inline-block">
            <img {{profilePicAttr}} style="max-width: 48px" />
        </div>
        <div class="col s9" style="display:inline-block;">
            <a href="#" id="dropdown-button-large" class="dropdown-button waves-effect waves-light" data-activates="profile-dropdown-large">
                <span style="display:inline-block;height:inherit;vertical-align:middle;">
                    <span style="line-height:normal;float:left">{{name}}</span>
                    <span style="line-height:normal;clear:left;float:left;display:inline-block;font-size:12px;">{{role}}</span>
                </span>
                <i class="mdi-navigation-arrow-drop-down right" style="margin-left:5px"></i>
            </a>
        </div>
        <ul id="profile-dropdown-large" class="dropdown-content">
            <li><a href="{{pathFor "Account"}}"><i class="mdi-action-account-box left"></i> Profile</a></li>
            <li>{{> logout}}</li>
        </ul>
    </div>
</template>