<template name="profile">
    <div class="row right no-margin-bot hide-on-large-only" style="width:68px;height:inherit;">
        <div class="col s12">
            <a href="#" data-activates="profile-dropdown"
               class="dropdown-button button-collapse right"><img {{profilePicAttr}}></a>
        </div>
    </div>
    <div class="row right no-margin-bot hide-on-med-and-down">
        <div class="col s3" style="display:inline-block">
            <img {{profilePicAttr}} style="width: 68px">
        </div>
        <div class="col s9" style="padding-left: 0;display:inline-block;">
            <a class="dropdown-button waves-effect waves-light" href="#"
               data-activates="profile-dropdown">
                <span style="display:inline-block;height:inherit;vertical-align:middle;">
                    <span style="line-height:normal;float:left">{{name}}</span>
                    <span style="line-height:normal;clear:left;float:left;display:inline-block;font-size:12px;">{{role}}</span>
                </span>
                <i class="mdi-navigation-arrow-drop-down right" style="margin-left:5px"></i></a>
            <!--<p style="font-size: 12px">{{role}}</p>-->
        </div>
        <ul id="profile-dropdown" class="dropdown-content active">
            <li><a href="#"><i class="mdi-action-account-box left"></i> Profile</a></li>
            <li>{{> logout}}</li>
        </ul>
    </div>

    <!--
    <ul class="right fixed">
        <li><a href="#!" data-activates="profile-dropdown" class="button-collapse"><img /></a>
        </li>
        <li class="hide-on-med-and-down">
            <a class="btn-flat dropdown-button waves-effect waves-light" href="#!"
                                            data-activates="profileDropdown">
                <img {{profilePicAttr}}/>{{name}}<i
                class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <ul id="profile-dropdown" class="dropdown-content active">
            <li><a href="{{pathFor "Account"}}">Profile<i
                    class="mdi-action-account-box left"></i></a></li>
            <li>{{> logout}}</li>
        </ul>
    </ul>
-->
</template>