<template name="sidebar">
    <ul class="side-nav fixed" id="side-nav" style="left: 0px;">
        <li class="logo">
            <a id="logo-container" href="/">
                <img id="front-page-logo" src="images/logo.png" class="responsive-img">
            </a>
        </li>
        <li class="clearfix"></li>
        <li class="active href-disabled"><a href="index.html">Home</a></li>
        <li><a href="account.html">Account Management</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li class="divider"></li>
        <li><a href="createevent.html">Create New Event</a></li>
        <li><a href="pastevents.html">View Past Events</a></li>
        <li><a href="reports.html">View Reports</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Log Out</a></li>
    </ul>
</template>