<template name="sidebar">
    <ul class="side-nav fixed" id="side-nav" style="left: 0">
        <li class="logo">
            <a id="logo-container" href="/">
                <img id="front-page-logo" src="/images/logo.png" class="responsive-img">
            </a>
        </li>
        <li class="clearfix"></li>
        <li class="{{isActive "Index"}}"><a href="{{pathFor 'Index'}}">Home</a></li>
        <li class="{{isActive "Account"}}"><a href="{{pathFor 'Account'}}">Account Management</a></li>
        <li class="{{isActive "Calendar"}}"><a href="{{pathFor 'Calendar'}}">Calendar</a></li>
        <li class="divider"></li>
        <li class="{{isActive "EventCreate"}}"><a href="{{pathFor 'EventCreate'}}">Create New Event</a></li>
        <li class="{{isActive "Events"}}"><a href="{{pathFor 'Events'}}">View All Events</a></li>
        <li class="divider"></li>
        <li><a href="" id="logout">Log Out</a></li>
        {{#if isAdmin}}
            <li class="divider"></li>
            <li class="logo teal-text darken-4">Administration</li>
            <li class="{{isActive "Configuration"}}"><a href="{{pathFor 'Configuration'}}">Configuration</a></li>
            <li class="{{isActive "Invitations"}}"><a href="{{pathFor 'Invitations'}}">Invitations</a></li>
            <li class="{{isActive "Reports"}}"><a href="{{pathFor 'Reports'}}">Reports</a></li>
            <li class="{{isActive "UserManagement"}}"><a href="{{pathFor 'UserManagement'}}">User Management</a></li>
        {{/if}}
    </ul>
</template>