<template name="sidebar">
    <div class="container"> <!-- creates a nice margin for button -->
        <a data-activates="side-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
    <ul class="side-nav fixed left" id="side-nav">
        <li class="logo">
            <a id="logo-container" href="/">
                <img id="front-page-logo" src="/images/logo.png" class="responsive-img">
            </a>
        </li>
        <li class="clearfix"></li>
        <li class="{{isActive "Index"}}"><a href="{{pathFor 'Index'}}">Home</a></li>
        <li class="{{isActive "Calendar"}}"><a href="{{pathFor 'Calendar'}}">Calendar</a></li>
        <li class="{{isActive "Events"}}"><a href="{{pathFor 'Events'}}">Events</a></li>
        <li class="{{isActive "Accounts"}}"><a href="{{pathFor 'Accounts'}}">Users</a></li>
        <li class="{{isActive "Documents"}}"><a href="{{pathFor 'Documents'}}">Documents</a>
        </li>
        {{#if isAdmin}}
            <li class="divider"></li>
            <li class="logo teal-text darken-4">Administration</li>
            <li class="{{isActive "Configuration"}}"><a href="{{pathFor 'Configuration'}}">Configuration</a></li>
            <li class="{{isActive "Invitations"}}"><a href="{{pathFor 'Invitations'}}">Invitations</a></li>
            <li class="{{isActive "Reports"}}"><a href="{{pathFor 'Reports'}}">Reports</a></li>
            <li class="{{isActive "UserManagement"}}"><a href="{{pathFor 'UserManagement'}}">User Management</a></li>
        {{/if}}
    </ul>
</template>