<template name="addTaskModal">
    <form id="add-task-form">
        <div id="add-task-modal" class="modal">
            <div class="modal-content">
                <h2 class="center">Add Task</h2>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="task-name" type="text" class="validate">
                        <label for="task-name">Task Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m3">
                        <input type="date" id="due-date" class="datepicker">
                        <label for="due-date">Due Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="task-description" class="materialize-textarea"></textarea>
                        <label for="task-description">Description<i class="mdi-editor-mode-edit right"></i></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select id="task-type">
                            <option value="" disabled selected>Please choose a task type</option>
                            <option value="1">Vendor</option>
                            <option value="2">Custom</option>
                        </select>
                        <label>Task Type</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <select id="vendor-name">
                            <option value="" disabled selected>Please choose a vendor</option>
                            <option value="1">Harry's Food Service</option>
                            <option value="2">Express Delivery Service</option>
                        </select>
                        <label>Vendor Name</label>
                    </div>
                    <div class="input-field col s4">
                        <a href="addvendor.html"
                           class="btn-floating tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="Add Vendor">
                            <i class="mdi-content-add"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="range-field col s12">
                        <label for="task-budget">Task Budget ($)</label>
                        <input type="range" id="task-budget" value="0" min="0" max="750"/>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s8">
                        <select id="assignedTo">
                            <option value="" disabled selected>Select Volunteer</option>
                            <option value="1">Aaron Beehoo</option>
                            <option value="2">Kevin Lee</option>
                            <option value="3">Sergio Parracho</option>
                            <option value="4">Benjamin Krissilas</option>
                        </select>
                        <label>Assign to</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row col s12">
                    <div class="input-field col s6 center">
                        <button id="submit-add-task-button" class="waves-effect waves-light btn" type="submit">
                            <i class="mdi-content-send right"></i>Add Task
                        </button>
                    </div>
                    <div class="input-field col s6 center">
                        <a id="cancel-add-task-button" class="waves-effect waves-light btn" type="button">
                            <i class="mdi-navigation-cancel right"></i>Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>