<template name="eventCard">
    <div class="card">
        <div class="card-image map">
            <iframe {{mapAttributes}}></iframe>
            <span class="card-title right-align"></span>
        </div>
        <a href="{{pathFor "EventView"}}" class="hyperlink-no-style">
            <div class="card-content">
                <h5>{{name}}</h5>

                <p><b>Date:</b> {{formatDate dateTime}}</p>

                <p><b>Location:</b> {{venue.name}}, {{venue.address.city}}, {{venue.address.provinceState}}</p>

                <p><b>Description:</b> {{trimParagraph description 210}}</p>
            </div>
        </a>
        {{#if isActiveEvent}}
            <div class="card-action">
                <a href="{{pathFor "EventEdit"}}">Work on Event</a>
                <a href="{{pathFor "EventPublish"}}">Publish Event</a>
            </div>
        {{/if}}
    </div>
</template>