<template name="eventCard">
    <div class="card">
        <div class="card-image">
           <!-- TODO: Add Google Map or image or something -->
            <span class="card-title right-align"></span></div>
        <a href="{{pathFor "Event"}}/{{_id}}">
        <div class="card-content">
            <h5>{{name}}</h5>

            <p>Date: {{formatDate dateTime}}</p>

            <p>Location: {{venue.name}}</p>
        </div>
        </a>
        <div class="card-action">
            <a href="{{pathFor "Event"}}/{{_id}}/work">Work on Event</a>
            <a href="{{pathFor "Event"}}/{{_id}}/publish">Publish Event</a>
        </div>
    </div>
</template>