<template name="eventCard">
    <div class="card">
        <div class="card-image">
           <!-- TODO: Add Google Map or image or something -->
            <span class="card-title right-align"></span></div>
        <div class="card-content">
            <h5>Next Event is {{name}}</h5>

            <p>Date: {{formatDate dateTime}}</p>

            <p>Location: {{venue.name}}</p>
        </div>
        <div class="card-action">
            <a href="#" id="action-work">Work on Event</a>
            <a href="#" id="action-publish">Publish Event</a>
        </div>
    </div>
</template>