<template name="calendar">

    <nav id="breadcrumb-nav">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                Calendar
            </div>
        </div>
    </nav>

    <div class="row">
        <div style="margin-top: 15px; margin-bottom: 15px">
            {{> fullcalendar options}}
        </div>

        <ul id="legend" class="dropdown-content">
            <li style="background-color: #EF4444"><a href="#!" style="color:black" class="hyperlink-no-style">My
                Assigned
                Tasks</a></li>
            <li style="background-color: #99CC99"><a href="#!" style="color:black" class="hyperlink-no-style">Other
                Tasks In
                Progress</a></li>
            <li style="background-color: #99CCFF"><a href="#!" style="color:black" class="hyperlink-no-style">Current
                Events</a></li>
        </ul>
    </div>

</template>