<template name="messageOutbox">
    <li class="collection-item {{isUnreadColor}}">
        <div class="left">
            To:
            <ul class="user-list">
                {{#each this.to}}
                    <li><a href="/accounts/{{user._id}}">{{user.profile.firstName}} {{user.profile.lastName}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="message-action-buttons right" style="position: relative;">
            <a class="delete-message-button btn-flat tooltipped"
               data-position="bottom"
               style="position: absolute; top: -10px; right: 0; padding:0;margin:0;"
               data-delay="50"
               data-tooltip="Delete Message">
                <i class="mdi-content-clear"></i>
            </a>
        </div>
        <div class="clearfix"></div>
        <a href="{{pathFor 'MessageView' this._id}}">
            <div class="message-subject-link left">
                {{this.subject}}
            </div>
            <div class="right" style="font-size: 10px">
                {{formatDateMDYT this.createdAt}}
            </div>
        </a>
        {{#if this.linkedTask}}
            <div class="clearfix"></div>
            <b>Task:</b> <a href="/tasks/{{this.linkedTask}}">{{task.name}}</a>
        {{/if}}
        <div class="clearfix"></div>
    </li>
</template>