<template name="messageCreate">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a href="{{pathFor 'Messages'}}" class="breadcrumb">Messages</a>
                <a class="breadcrumb">Compose Message</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>Compose a Message</h2>

        <form id="create-message-form">
            <div class="row valign-wrapper">
                <div class="col s1 valign">
                    To:
                </div>
                <div class="col s3">
                    <select class="browser-default" id="message-to">
                        <option value="" disabled selected>Choose a user</option>
                        {{#each users}}
                            {{> userOption}}
                        {{/each}}
                    </select>
                </div>
                <div class="col s7 offset-s1">
                    <input type="checkbox" id="message-send-email" />
                    <label for="message-send-email">Send email also?</label>
                </div>
            </div>
            {{#if messageToUsers}}
                <div class="row">
                    <div id="message-to-users" class="col s12">
                        {{#each messageToUsers}}
                            <div class="chip">
                                <img {{chipImgSrc}} alt="{{user.profile.firstName}} {{user.profile.lastName}}">
                                {{user.profile.firstName}} {{user.profile.lastName}}
                                <a class="remove-user-button btn-flat"
                                   style="padding:0; margin:0;">
                                    <i class="mdi-content-clear" style="padding:0; margin:0;"></i>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" class="validate" id="message-subject" required>
                    <label for="event-name">Subject</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message-body" class="materialize-textarea validate"></textarea>
                    <label for="message-body">Message<i class="mdi-editor-mode-edit right"></i></label>
                </div>
            </div>
            <div class="row col s12">
                <div class="col s4 center offset-s2">
                    <button id="submit-create-message-button" class="waves-effect waves-light btn" type="submit">
                        <i class="mdi-content-send right"></i>Send
                    </button>
                </div>
                <div class="col s4 center">
                    <a id="clear-create-message-button" class="waves-effect waves-light btn" type="button">
                        <i class="mdi-navigation-cancel right"></i>Clear
                    </a>
                </div>
            </div>
        </form>
    </div>

</template>

<template name="userOption">
    <option value="{{this._id}}" {{selected}}>{{this.profile.firstName}} {{this.profile.lastName}}</option>
</template>