<template name="messageReply">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a href="{{pathFor 'Messages'}}" class="breadcrumb">Messages</a>
                <a href="{{pathFor 'MessageView' _id}}" class="breadcrumb">{{this.subject}}</a>
                <a class="breadcrumb">Reply to Message</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
        <h2>Reply to Message</h2>

        <form id="reply-message-form">
            <div class="row">
                <div class="col s4 valign-wrapper">
                    <p class="left valign" style="margin-right: 10px;">To:</p>
                    <div class="chip left">
                        <img src="{{from.services.google.picture}}"
                             alt="{{from.profile.firstName}} {{from.profile.lastName}}">
                        {{from.profile.firstName}} {{from.profile.lastName}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" class="validate valid" id="message-subject" value="RE: {{this.subject}}"
                           required>
                    <label class="active" for="event-name">Subject</label>
                </div>
                <div class="col s5 offset-s1 valign">
                    <input type="checkbox" id="message-send-email" />
                    <label for="message-send-email">Send message via email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message-body" class="materialize-textarea"></textarea>
                    <label for="message-body">Message<i class="mdi-editor-mode-edit right"></i></label>
                </div>
            </div>
            <div class="row col s12">
                <div class="col s4 center offset-s2">
                    <button id="submit-reply-message-button" class="waves-effect waves-light btn" type="submit">
                        <i class="mdi-content-send right"></i>Send
                    </button>
                </div>
                <div class="col s4 center">
                    <a id="clear-reply-message-button" class="waves-effect waves-light btn" type="button">
                        <i class="mdi-navigation-cancel right"></i>Clear
                    </a>
                </div>
            </div>
        </form>
    </div>

</template>