<template name="messageInbox">
    <li class="collection-item hoverable-message {{isUnreadColor}}">
        <a class="message-link" href="{{pathFor 'MessageView' this._id}}" style="
                display: block;
                margin: 0;
                padding: 0;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;">
            <div class="col s10 left">
                <div class="chip">
                    <img {{chipImgSrc}} alt="{{user.profile.firstName}} {{user.profile.lastName}}">
                    {{user.profile.firstName}} {{user.profile.lastName}}
                </div>
            </div>
        </a>

        <div class="col s2 message-action-buttons" style="position: relative;">
            {{#if isUnread}}
                <a class="mark-read-message-button btn-flat tooltipped"
                   data-position="bottom"
                   style="position: absolute; top: -10px; right: 30px; padding:0;margin:0;"
                   data-delay="50"
                   data-tooltip="Mark as Read">
                    <i class="mdi-content-drafts"></i>
                </a>
            {{/if}}
            <a class="delete-message-button btn-flat tooltipped"
               data-position="bottom"
               style="position: absolute; top: -10px; right: 0; padding:0;margin:0;"
               data-delay="50"
               data-tooltip="Delete Message">
                <i class="mdi-content-clear"></i>
            </a>
        </div>

        <div class="clearfix"></div>

        <a class="message-link" href="{{pathFor 'MessageView' this._id}}" style="
                display: block;
                margin: 0;
                padding: 0;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;">
            <div class="col s10 left" style="padding-top: 10px; font-size: 14px;">
                {{this.subject}}
            </div>
            <div class="col s2 right" style="padding-top: 10px; font-size: 10px; text-align: right;">
                {{formatDateMDYT this.createdAt}}
            </div>
        </a>
        {{#if this.linkedTask}}
            <div class="clearfix"></div>
            <b>Task:</b> <a href="/tasks/{{this.linkedTask}}">{{task.name}}</a>
        {{/if}}
        <div class="clearfix"></div>
    </li>
</template>