<template name="messageView">

    <nav id="breadcrumb-nav" class="blue">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}" class="breadcrumb">Home</a>
                <a href="{{pathFor 'Messages'}}" class="breadcrumb">Messages</a>
                <a class="breadcrumb">{{this.subject}}</a>
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">

        <h2>View Message</h2>

        <form id="view-event-form">

            <div class="row">
                <div class="col s4">
                    <a href="/messages/reply/{{this._id}}" class="waves-effect waves-light btn"
                       id="reply-message-button">
                        <i class="mdi-content-reply right"></i>Reply
                    </a>
                </div>
                <div class="col s4">
                    <a class="waves-effect waves-light btn" id="delete-message-button">
                        <i class="mdi-action-delete right"></i>Delete
                    </a>
                </div>
                {{#if this.linkedTask}}
                    <div class="col s4">
                        <span style="color: #f00; font-weight: bold;">There is a task linked to this message</span>
                        <br>
                        <a href="/tasks/{{this.linkedTask}}" class="waves-effect waves-light btn">
                            <i class="mdi-action-confirm right"></i>Go to Task
                        </a>
                    </div>
                {{/if}}
            </div>

            <div class="row">
                <div class="col s4">
                    <p>From</p>
                    <div class="chip">
                        <img {{chipImgSrc}} alt="{{from.profile.firstName}} {{from.profile.lastName}}">
                        {{from.profile.firstName}} {{from.profile.lastName}}
                    </div>
                </div>
                <div class="col s4">
                    <p>Date</p>
                    <span>{{formatDateShort this.createdAt}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p>To</p>
                    {{#each this.to}}
                        <div class="chip">
                            <img src="{{user.services.google.picture}}"
                                 alt="{{user.profile.firstName}} {{user.profile.lastName}}">
                            {{user.profile.firstName}} {{user.profile.lastName}}
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <p>Subject</p>
                    <span>{{this.subject}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s8">
                    <p>Message</p>
                    <span>{{this.body}}</span>
                </div>
            </div>
        </form>
    </div>

</template>