<template name="documentWorkspace">

    <nav id="breadcrumb-nav" class="blue darken-1">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{pathFor 'Index'}}">Home</a> >
                Document Workspace
            </div>
        </div>
    </nav>

    <div class="custom-wrapper">
    <h2>Document Workspace</h2>

    <div id="authorize-div" style="display: none">
        <span>Authorize access to Drive API</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="handleAuthClick(event)">
            Authorize
        </button>
    </div>
    <pre id="output"></pre>
</div>

</template>