<template name="documentWorkspace">

    <h2>Document Workspace</h2>
    <!--
    <button class="btn-flat waves-effect waves-light" type="submit">Save<i
            class="mdi-content-send right"></i>
    </button>
    <button id="add-email-cancel" class="modal-action modal-close btn-flat waves-effect waves-light"
            type="button">Cancel<i
            class="mdi-navigation-cancel right"></i>
    </button>
    -->
    <iframe src="https://drive.google.com/embeddedfolderview?id=0B38z5WKF0BnNTlpmMzRROS1KZkE#list" width="800" height="600" frameborder="0"></iframe>

    <div id="authorize-div" style="display: none">
        <span>Authorize access to Drive API</span>
        <!--Button for the user to click to initiate auth sequence -->
        <button id="authorize-button" onclick="handleAuthClick(event)">
            Authorize
        </button>
    </div>
    <pre id="output"></pre>


</template>