<template name="login">
    <nav class="navbar blue darken-3" role="navigation">
        <div align="center" >
            <a class="brand-logo center" style="padding-left:0" href="#!">{{siteTitle}}</a>
        </div>
    </nav>
    <div id="login_background"></div>
    <div id="login_container" class="container">
        <div id="login">
            <form id="signin">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="email" class="validate"/>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" class="validate"/>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <button class="btn waves-effect waves-light bottom" type="submit" name="submit">Login
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                    <div class="col s12 m6 l6">
                        <button id="signup" class="btn waves-effect waves-light modal-trigger" type="button"
                                name="signup">
                            Sign up!
                        </button>
                        <button id="passreset" class="btn waves-effect waves-light modal-trigger" type="button"
                                name="passreset">
                            Forgot Password<i class="mdi-action-lock right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div id="signup-modal" class="modal">
        <div class="modal-content">
            <h4>Sign Up for {{siteTitle}}!</h4>
        </div>
        <div class="modal-footer">
            <form id="signup-form" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="signup-first-name" class="validate" required/>
                        <label for="signup-first-name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="signup-last-name"/>
                        <label for="signup-last-name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" id="signup-email" class="validate" required/>
                        <label for="signup-email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="signup-password" class="validate" required/>
                        <label for="signup-password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="signup-confirm-password" class="validate" required/>
                        <label for="signup-confirm-password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="signup-invite-code"/>
                        <label id="signup-invite-code-label" for="signup-invite-code">Invite Code</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {{> forgotPassword}}
    {{#if token}}
        <div id="forgotpasswordnew-modal" class="modal bottom-sheet">
            <form id="forgotpasswordnew-form">
                <div class="modal-content">
                    <h4>Forgot Password Reset</h4>

                    <p>
                        Please enter a new password below. You will be automatically logged in.
                    </p>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="forgotpasswordnew" type="password" required>
                            <label for="forgotpasswordnew">Password</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="waves-effect waves-green btn-flat">Reset<i
                            class="mdi-content-send right"></i></button>
                    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel<i
                            class="mdi-navigation-cancel right"></i></button>
                </div>
            </form>
        </div>
    {{/if}}

</template>